<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cgi">
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BODY_SENSORS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-feature android:name="android.hardware.camera2" android:required="true"></uses-feature>



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity android:name=".FlashLightActivity"></activity>
        <activity android:name=".CameraActivity" />
        <activity android:name=".CameraActivity1" />
        <activity android:name=".BatteryActivity"></activity>
        <activity android:name=".FonctionnalitesActivity" />

        <activity
            android:name=".SmsActivity"
            android:label="@string/title_activity_sms"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps" />

        <activity
            android:name=".PositionActivity"
            android:label="@string/title_activity_maps" />
        <activity android:name=".DetailActivity" />
        <activity android:name=".AfficheAvisActivity" />
        <activity android:name=".PosteAvisActivity" />
        <activity android:name=".ListePlatsActivity" />
        <activity android:name=".PhoneCallActivity" />
        <activity android:name=".VolumeActivity" />
        <activity android:name=".JouerSonActivity" />
        <activity android:name=".MenuActivity" />
        <activity android:name=".SensorActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
    </application>
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
</manifest>